///////////////////////////////////////////////////////////////
// This file is managed by Ansible.
// Local changes will be overwritten next time Ansible is run.
// DO NOT MAKE LOCAL CHANGES
// {{ ansible_managed }}
///////////////////////////////////////////////////////////////

{% if aspects_unattended_upgrades_periodic_config.enable.enabled %}
APT::Periodic::Enable "{{ aspects_unattended_upgrades_periodic_config.enable.value }}";
{% endif %}
{% if aspects_unattended_upgrades_periodic_config.downloadupgradeablepackages.enabled %}
APT::Periodic::Download-Upgradeable-Packages "{{ aspects_unattended_upgrades_periodic_config.downloadupgradeablepackages.value }}";
{% endif %}

{% if aspects_unattended_upgrades_periodic_config.autocleaninterval.enabled %}
APT::Periodic::AutocleanInterval "{{ aspects_unattended_upgrades_periodic_config.autocleaninterval.value }}";
{% endif %}